 <section class="video-section" id="home" data-aos="fade-down" data-aos-delay="200" data-aos-duration="900">
        <div class="main-feature2">
            <!-- Title at the top left -->
            
            <h1 class="home-page-title"><span style="color: #ffa039;">Bridging the Gap</span> Between Cable and Streaming</h1>
            <div class="slider">
                <div class="slide-track">
                  
                </div>
               
            </div>
            <div class="slider2">
                <div class="slide-track2">
                  
                </div>
                
            </div>
            <div class="slider3">
                <div class="slide-track3">
                  
                </div>
                
            </div>
     
                <h2 class="main-subtitles">Enjoy the <span style="color: #ffa039;">Best Shows</span> <br>with Cutting-Edge <br>Streaming</h2>
           
        </div>
    </section>
    
    

    <!-- Features Section -->
    
    <section class="features" data-aos="fade-down" data-aos-delay="200" data-aos-duration="900">
        
        <div class="main-feature" >
            <div class="heading-container">
                <h1>High Quality Content <span style="color: #ffa039;"> Anytime Anywhere</span></h1>
                <p>Our advanced in-home streaming technology ensures fast, seamless service and exceptional picture quality, offering you a wide range of 
                    channels to enjoy with reliability and ease.</p>
            </div>
            
            
              
                <div class="gradient-cards">
                            <div class="card">
                                <div class="container-card bg-orange-box">
                                    <i class="fa-solid fa-trophy"></i>
                                    <p class="card-title">Ultimate TV viewing experience</p>
                                    <p class="card-description">Our in-home streaming technology delivers lightning-fast speeds, crystal-clear pictures, and reliable service so you can enjoy 
                                    the best a vast selection of channels can provide.</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="container-card bg-orange-box">
                                    <i class="fas fa-tv"></i>
                                    <p class="card-title">Stay Tuned to All Your TV Favorites</p>
                                    <p class="card-description">72 Hours of replay of live TV, restart TV, and streaming apps allow you to watch you what you want when you want it.</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="container-card bg-orange-box">
                                    <i class="fa-solid fa-piggy-bank"></i>
                                    <p class="card-title">Simple Setup. Better Savings</p>
                                    <p class="card-description">Free Cloud PVR recording, no equipment fees, simple installation, weather-free performance, and a lower bill are just some of what we offer.</p>
                                </div>
                            </div>
                 
                </div>
              
            
               
            
    
        </div>
        
        
    </section>
    

    <section class="features1" data-aos="fade-down" data-aos-delay="200" data-aos-duration="900">
        
        <div class="main-feature" >
            <div class="heading-container">
                <h1>Xstream <span style="color: #ffa039;"> TV</span> Plans</span></h1>
                <p>No Contracts. Simple Pricing. Customize with Upgrades.</p>
            </div>
            
            {{#if data}}
            <div class="pricing-container">
                {{#if data.basic}}
                <div class="pricing-column-wrapper style3">
                    <div class="pricing-column style3">
                        <div class="pricing-price-row style3">
                        <div class="pricing-price-wrapper style3">
                            <div class="pricing-price style3">
                            <div class="pricing-cost style3">${{data.basic.Price}}</div>
                            <div class="time" style="display:inline-block;">Per Month</div>
                            </div>
                        </div>
                        </div>
                        <div class="pricing-row-title style3">
                        <div class="pricing_row_title style3">{{data.basic.Name}}</div>
                        </div>
                        <div class="logo-carousel style3">
                            <div class="logo-track-op-basic style3">
                                
                                <!-- <div class="logo-slide">
                                    <img src="images/channel/espn.png" alt="ESPN">
                                </div> -->
                            
                            </div>
                            <div class="dots-container-op-basic style3">
                                <button class="carousel-btn left-btn style3"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></button>
                                <!-- <span class="dot" data-slide="0"></span> -->
                                <button class="carousel-btn right-btn style3"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <figure class="pricing-row">87 channels</figure>
                        <figure class="pricing-row">Dedicated Support</figure>
                        <figure class="pricing-row">Mobile App</figure>
                        {{!-- <figure class="pricing-row strike">DVR Not Included</figure> --}}
                        <div class="pricing-footer style3">
                        <div class="gem-button-container gem-button-position-center style3">
                            <a href="/compareplans" class="gem-button gem-orange style3">Compare Plans</a>
                            <a href="/service" class="gem-button gem-orange style3">Get Started</a>
                        </div>
                        </div>
                    </div>
                </div>
                {{/if}}

                {{#if data.choice}}
                <div class="pricing-column-wrapper">
                    <div class="pricing-column">
                        <div class="pricing-price-row">
                        <div class="pricing-price-wrapper">
                            <div class="pricing-price">
                            <div class="pricing-cost">${{data.choice.Price}}</div>
                            <div class="time" style="display:inline-block;">Per Month</div>
                            </div>
                        </div>
                        </div>
                        <div class="pricing-row-title">
                        <div class="pricing_row_title">{{data.choice.Name}}</div>
                        </div>
                        <div class="logo-carousel3">
                            <div class="logo-track-choice">
                                
                                <!-- <div class="logo-slide">
                                    <img src="images/channel/espn.png" alt="ESPN">
                                </div> -->
                            
                            </div>
                            <div class="dots-container-choice">
                                <button class="carousel-btn left-btn3"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></button>
                                <!-- <span class="dot" data-slide="0"></span> -->
                                <button class="carousel-btn right-btn3"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <figure class="pricing-row">Additional 56 channels</figure>
                        <figure class="pricing-row">Dedicated Support</figure>
                        <figure class="pricing-row">Mobile App</figure>
                        {{!-- <figure class="pricing-row strike">DVR Not Included</figure> --}}
                        <div class="pricing-footer">
                        <div class="gem-button-container gem-button-position-center">
                            <a href="/compareplans" class="gem-button gem-orange">Compare Plans</a>
                            <a href="/service" class="gem-button gem-orange">Get Started</a>
                        </div>
                        </div>
                    </div>
                </div>
              {{/if}}
            {{#if data.preferred}}
                <div class="pricing-column-wrapper style2">
                    <div class="pricing-column style2">
                        <!-- <div class="pricing-price-row"> -->
                        <div class="pricing-price-wrapper style2">
                            <div class="pricing-price style2">
                            <div class="pricing-cost style2">${{data.preferred.Price}}</div>
                            <div class="time style2" style="display:inline-block;">Per Month</div>
                            </div>
                        </div>
                        <!-- </div> -->
                        <div class="pricing-row-title style2">
                        <div class="pricing_row_title style2">{{data.preferred.Name}}</div>
                        </div>
                        <!-- Scrollable logo carousel with dots -->
                        <div class="logo-carousel2">
                            <div class="logo-track-preferred">
                                
                                <!-- <div class="logo-slide">
                                    <img src="images/channel/espn.png" alt="ESPN">
                                </div> -->
                            
                            </div>
                            <div class="dots-container-preferred">
                                <button class="carousel-btn2 left-btn2"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></button>
                                <button class="carousel-btn2 right-btn2"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
                            </div>
                        </div>

                        <figure class="pricing-row style2">Additional 68 channels</figure>
                        <figure class="pricing-row style2">Dedicated Support</figure>
                        {{!-- <figure class="pricing-row style2">25 hours of Cloud DVR</figure> --}}
                        <figure class="pricing-row style2">Mobile App</figure>
                        <!-- <div class="pricing-footer"> -->
                        <div class="gem-button-position-center style2">
                            <a href="/compareplans" class="gem-button gem-orange style2">Compare Plans</a>
                            <a href="/service" class="gem-button gem-orange style2">Get Started</a>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
                {{/if}}
                {{#if data.expanded}}
                <div class="pricing-column-wrapper style2">
                    <div class="pricing-column style2" >
                        <div class="pricing-price-row style2">
                        <div class="pricing-price-wrapper style2">
                            <div class="pricing-price style2">
                            <div class="pricing-cost">${{data.expanded.Price}}</div>
                            <div class="time" style="display:inline-block;">Per Month</div>
                            </div>
                        </div>
                        </div>
                        <div class="pricing-row-title style2">
                        <div class="pricing_row_title style2">{{data.expanded.Name}}</div>
                        </div>
                        <div class="logo-carousel4">
                            <div class="logo-track-expanded">
                                
                                <!-- <div class="logo-slide">
                                    <img src="images/channel/espn.png" alt="ESPN">
                                </div> -->
                            
                            </div>
                            <div class="dots-container-expanded style2">
                                <button class="carousel-btn2 left-btn4"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></button>
                                <!-- <span class="dot" data-slide="0"></span> -->
                                <button class="carousel-btn2 right-btn4"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <figure class="pricing-row  style2">41 channels</figure>
                        <figure class="pricing-row style2">Dedicated Support</figure>
                        <figure class="pricing-row style2">Mobile App</figure>
                        {{!-- <figure class="pricing-row strike">DVR Not Included</figure> --}}
                        <div class="pricing-footer">
                        <div class="gem-button-container gem-button-position-center style2">
                            <a href="/compareplans" class="gem-button gem-orange style2">Compare Plans</a>
                            <a href="/service" class="gem-button gem-orange style2">Get Started</a>
                        </div>
                        </div>
                    </div>
                </div>
               {{/if}}
            


            </div>
              {{/if}}  

        </div>
        
        
    </section>
    
    <section class="features" data-aos="fade-down" data-aos-delay="200" data-aos-duration="900">
        
        <div class="main-feature" >
            <div class="heading-container">
                <h1>Popular Premium Packages Offer Something for<span style="color: #069bd9;"> Everyone </span></h1>
                <p>Access to these upgrades requires a Preferred subscription.  
                    These member can select one or more options based on their interests.</p>
            </div>
            {{#if data}}
            <div class="gradient-cards2">

            <!-- <article class="plan [ card-plan ] Extended">
                <div class="inner">
        
                    <span class="pricing Extended">
                        <span>
                            +$20.95 <small>/ m</small>
                        </span>
                    </span>
                    <h2 class="title">Extended</h2>
                    <p class="info">This is the upgrade plan for those who have a preferred plan already running.</p>
                    
                    <ul class="features">
                        <li>
                            <span class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                    <path fill="none" d="M0 0h24v24H0z" />
                                    <path d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z" fill="currentColor" />
                                </svg>
                            </span>
                            <span>Additional <strong>100</strong> channels</span>
                        </li>
                        <li>
                            <span class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                    <path fill="none" d="M0 0h24v24H0z" />
                                    <path d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z" fill="currentColor" />
                                </svg>
                            </span>
                            <span>Dedicated Support</span>
                        </li>
                       
                        <li>
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                        <path fill="none" d="M0 0h24v24H0z" />
                                        <path d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z" fill="currentColor" />
                                    </svg>
                                </span>
                                <span><strong>1000</strong> hours of Cloud DVR</span>
                        </li>
                        <li>
                            <span class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                    <path fill="none" d="M0 0h24v24H0z" />
                                    <path d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z" fill="currentColor" />
                                </svg>
                            </span>
                            <span>Mobile App</span>
                        </li>
                    </ul>
                    <button class="button Extended">
                        Choose plan
                    </button>
                </div>
            </article> -->
{{#if data.sports}}
            <article class="plan [ card-plan ] Sports">
                <div class="inner">
        
                    <span class="pricing Sports">
                        <span>
                            +${{data.sports.Price}}  <small>/ m</small>
                        </span>
                    </span>
                    <h2 class="title">Spo{{data.sports.Name}} rts</h2>
                    <p class="info">This is the upgrade plan for those who have a preferred plan already running.</p>
                    <ul class="features">
                        <li>
                            <span class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                    <path fill="none" d="M0 0h24v24H0z" />
                                    <path d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z" fill="currentColor" />
                                </svg>
                            </span>
                            <span>Additional <strong>12</strong> channels</span>
                        </li>
                        <li>
                            <span class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                    <path fill="none" d="M0 0h24v24H0z" />
                                    <path d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z" fill="currentColor" />
                                </svg>
                            </span>
                            <span>Dedicated Support</span>
                        </li>
                       
                        <li>
                                <!-- <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                        <path fill="none" d="M0 0h24v24H0z" />
                                        <path d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z" fill="currentColor" />
                                    </svg>
                                </span> -->
                                {{!-- <span class="strike">No additional DVR hrs. beyond Basic</span> --}}
                        </li>
                        <li>
                            <span class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                    <path fill="none" d="M0 0h24v24H0z" />
                                    <path d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z" fill="currentColor" />
                                </svg>
                            </span>
                            <span>Mobile App</span>
                        </li>
                    </ul>
                    <button class="button Sports">
                        Choose plan
                    </button>
                </div>
            </article>
{{/if}}
{{#if data.hbo}}
            <article class="plan [ card-plan ] HBO">
                <div class="inner">
        
                    <span class="pricing HBO">
                        <span>
                            +${{data.hbo.Price}} <small>/ m</small>
                        </span>
                    </span>
                    <h2 class="title">{{data.hbo.Name}}</h2>
                    <p class="info">This is the upgrade plan for those who have a preferred plan already running.</p>
                    <ul class="features">
                        <li>
                            <span class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                    <path fill="none" d="M0 0h24v24H0z" />
                                    <path d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z" fill="currentColor" />
                                </svg>
                            </span>
                            <span><strong>6</strong> channels</span>
                        </li>
                        <li>
                            <span class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                    <path fill="none" d="M0 0h24v24H0z" />
                                    <path d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z" fill="currentColor" />
                                </svg>
                            </span>
                            <span>Dedicated Support</span>
                        </li>
                       
                        <li>
                                <!-- <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                        <path fill="none" d="M0 0h24v24H0z" />
                                        <path d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z" fill="currentColor" />
                                    </svg>
                                </span> -->
                                {{!-- <span class="strike">No additional DVR hrs. beyond Basic</span> --}}
                        </li>
                        <li>
                            <span class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                    <path fill="none" d="M0 0h24v24H0z" />
                                    <path d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z" fill="currentColor" />
                                </svg>
                            </span>
                            <span>Mobile App</span>
                        </li>
                    </ul>
                    <button class="button HBO">
                        Choose plan
                    </button>
                </div>
            </article>
        {{/if}}
        {{#if data.spanish}}
            <article class="plan [ card-plan ] Cinemax">
                <div class="inner">
        
                    <span class="pricing Cinemax">
                        <span>
                            +${{data.spanish.Price}} <small>/ m</small>
                        </span>
                    </span>
                    <h2 class="title">{{data.spanish.Name}}</h2>
                    <p class="info">This is the upgrade plan for those who have a preferred plan already running.</p>
                    <ul class="features">
                        <li>
                            <span class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                    <path fill="none" d="M0 0h24v24H0z" />
                                    <path d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z" fill="currentColor" />
                                </svg>
                            </span>
                            <span><strong>4</strong> channels</span>
                        </li>
                        <li>
                            <span class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                    <path fill="none" d="M0 0h24v24H0z" />
                                    <path d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z" fill="currentColor" />
                                </svg>
                            </span>
                            <span>Dedicated Support</span>
                        </li>
                       
                        <li>
                                <!-- <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                        <path fill="none" d="M0 0h24v24H0z" />
                                        <path d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z" fill="currentColor" />
                                    </svg>
                                </span> -->
                                {{!-- <span class="strike">No additional DVR hrs. beyond Basic</span> --}}
                        </li>
                        <li>
                            <span class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                    <path fill="none" d="M0 0h24v24H0z" />
                                    <path d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z" fill="currentColor" />
                                </svg>
                            </span>
                            <span>Mobile App</span>
                        </li>
                    </ul>
                    <button class="button Cinemax">
                        Choose plan
                    </button>
                </div>
            </article>
            {{/if}}
 
        </div>    
        {{/if}}
        </div>
        
        
    </section>
    
    <!-- Footer -->
    <section class="features1" id="footer" data-aos="fade-up" data-aos-delay="200" data-aos-duration="800">
        <div class="main-feature" >
            <div class="heading-container">
                <h1><span style="color: #ffa039;">200+ </span> Channels of Superior Streaming.</h1>
                <p>On-Demand Entertainment, Just the Way You Like It.</p>
            </div>

            <div class="background">
                <div class="container">
                  <div class="screen">
                    <div class="screen-header">
                      <div class="screen-header-left">
                        <div class="screen-header-button close"></div>
                        <div class="screen-header-button maximize"></div>
                        <div class="screen-header-button minimize"></div>
                      </div>
                      <div class="screen-header-right">
                        <div class="screen-header-ellipsis"></div>
                        <div class="screen-header-ellipsis"></div>
                        <div class="screen-header-ellipsis"></div>
                      </div>
                    </div>
                    <div class="screen-body">
                      <div class="screen-body-item left">
                        <div class="app-title">
                          <span>CONTACT</span>
                          <span>US</span>
                        </div>
                        <div class="app-contact">By clicking Sign Up you're confirming that you agree with our Terms and Conditions</div>
                      </div>
                      <div class="screen-body-item">
                        <div class="app-form">
                          <div class="app-form-group">
                            <input class="app-form-control" placeholder="NAME" value="John Smith">
                          </div>
                          <div class="app-form-group">
                            <input class="app-form-control" placeholder="EMAIL">
                          </div>
                          <div class="app-form-group">
                            <input class="app-form-control" placeholder="CONTACT NO">
                          </div>
                          <div class="app-form-group message">
                            <input class="app-form-control" placeholder="MESSAGE">
                          </div>
                          <div class="app-form-group buttons">
                            <button class="app-form-button">Contact for Information</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
              

        </div>
    </section>